/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/loading.scss */
.cpt-loading-mask * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/loading.scss */
.cpt-loading-mask.column {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 100;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 31, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  background: rgba(0, 0, 0, 0.6);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 16px;
}
/* line 42, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading {
  position: relative;
  width: 60px;
  height: 60px;
  background: transparent;
  margin: 0 auto;
}
/* line 50, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-animation: load 2.28s linear infinite;
  -webkit-animation: load 2.28s linear infinite;
  animation: load 2.28s linear infinite;
}
/* line 59, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FBC9B9;
  position: absolute;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
/* line 72, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div:nth-child(1) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 75, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div:nth-child(2) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 78, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div:nth-child(3) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* line 81, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div:nth-child(4) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
/* line 84, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.origin div:nth-child(5) {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 90, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.pic {
  width: 80px;
  height: 80px;
}
/* line 94, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading.pic img {
  width: 100%;
  height: 100%;
}
/* line 101, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading-title {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 2px 0;
  font-size: 16px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 112, ../sass/loading.scss */
.cpt-loading-mask.column .div-loading .loading-discription {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
}
/* line 123, ../sass/loading.scss */
.cpt-loading-mask.row {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 100;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 136, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 15px;
}
/* line 151, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading {
  position: relative;
  width: 60px;
  height: 60px;
  background: transparent;
  float: left;
}
/* line 160, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-animation: load 2.28s linear infinite;
  -webkit-animation: load 2.28s linear infinite;
  animation: load 2.28s linear infinite;
}
/* line 169, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FBC9B9;
  position: absolute;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
/* line 182, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div:nth-child(1) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 185, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div:nth-child(2) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 188, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div:nth-child(3) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* line 191, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div:nth-child(4) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
/* line 194, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.origin div:nth-child(5) {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 200, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.pic {
  width: 80px;
  height: 80px;
}
/* line 204, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading.pic img {
  width: 100%;
  height: 100%;
}
/* line 211, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading-title {
  width: 72%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 2px 0;
  padding-left: 20px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 223, ../sass/loading.scss */
.cpt-loading-mask.row .div-loading .loading-discription {
  display: none;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
}

/* line 236, ../sass/loading.scss */
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

/* line 241, ../sass/loading.scss */
.animated.infinite {
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 256, ../sass/loading.scss */
.fadeInNoTransform {
  -webkit-animation-name: fadeInNoTransform;
  animation-name: fadeInNoTransform;
}

@-webkit-keyframes fadeOutNoTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutNoTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 269, ../sass/loading.scss */
.fadeOutNoTransform {
  -webkit-animation-name: fadeOutNoTransform;
  animation-name: fadeOutNoTransform;
}

@-webkit-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
  62% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  65% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
  90% {
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
  62% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  65% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
  90% {
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
  62% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  65% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
  90% {
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
  62% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  65% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
  90% {
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
  62% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  65% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
  90% {
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
